
.d-flex{
    display: flex;  
}
.cart-section{
    display: flex;
    justify-content: space-between;
}
.cart-product--section{
    flex: 80%;
}
/**cart-product-css**/
.cart-product-card{
    display: flex; 
   flex-wrap: wrap; 
}
.cart-product{
    display: flex;
    gap: 2rem;
    margin-bottom: 1.2rem;
    flex: 50%;
    flex-wrap: wrap;
    position: relative;
}
.cart-product-image img{
    width: 145px;
    border-radius: 10px;  
}
.cart-product-name{
    font-size: 1.2rem;
    color: rgb(46,42,57);
    font-weight: 600;
    letter-spacing: 1.1px;
    margin-bottom: 0.6rem;
}
.product-quantity{
    margin: 1rem 0;
}
.product-quantity button{
    border: none;
    outline: none;
    background: transparent;  
}
.product-quantity--btn{
    padding: 10px ;
    border: 1px solid rgb(46,42,57);
    border-radius: 10px;
  
}
.product-total{
    margin-top: 1rem;
}
.product-total,
.product-quantity{
    flex: 25%;
}
.plus-icon,
.minus-icon,
.delte-icon
{
    margin: 0 1.4rem 0 1.2rem;
    font-size: 1.4rem;
    cursor:pointer;
}
.fa.fa-solid.fa-trash{
    font-size: 20px;
}
/**cart detail : css*/
.cart-detail--section{
flex: 20%;
}
.cart-detail{
    display: flex;
    justify-content: space-around;
}

.total-price-container h3{
    letter-spacing: 0.7px;
}
.total-price-container p{
    color: rgb(46,42,57);
    font-size: 17px;
    margin-bottom: 0.8rem;
    letter-spacing: 0.5px;
}
.cart-price-total{
    border-top: 1px solid #d0cfcf;
    padding-top: 6px;
}
.checkout-btn{
    border: none;
    outline: none;
    padding: 8px 25px;
    border-radius: 20px;
    box-shadow: rgba(253, 251, 247, 0.45) 0px 0px 0px 1.3px, rgb(155, 4, 111) 0px 0px 0px 1px;
    color: rgb(253, 251, 247);
    background-color: rgb(172, 41, 134); 
    font-size: 1rem; 
    margin-top: 1rem;
    letter-spacing: 1px;
}


.cart-wishlist-btn{
    border:none;
    outline: none;
    cursor: pointer;
    display: block;
}

.cart-wishlist-btn i {
    color: #877f7f;
    position: absolute;
    left: 7rem;
    font-size: 22px;
    top: 0.5rem;
   /* color: rgb(214, 17, 17); */
    margin-right: 11px;
}
.cart-wishlist-btn i.active {
    color: rgb(228, 75, 75);
    transition: 0.2s ease-in-out;
}