/**hero-section: css start*/
.hero-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.hero-image img {
  width: 695px;
  height: 630px;
  border-radius: 20px;
  position: relative;
  left: 25rem;
  z-index: -1;

}

.hero-text {
  padding: 3.8rem;
  border-radius: 20px;
  z-index: 10;
  height: 465px;
  width: 372px;
  background: radial-gradient(rgba(255, 229, 229, 1),
      rgba(255, 224, 218, 1) 30%,
      rgba(215, 255, 137, 1) 100%);
  position: absolute;
  top: 4rem;
  left: 3.9rem;

}

.hero-text h1 {
  font-size: 48px;
  color: rgb(36, 34, 45);
  letter-spacing: 3.2px;
}

.hero-text p {
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 1px;
  margin: 20px 0;
  width: 232px;
  padding-bottom: 20px;
}

.shop-btn {
  text-decoration: none;
  background: #000;
  color: rgba(215, 255, 137, 1);
  padding: 15px 38px;
  border-radius: 10px;
}

/**hero-section: css end*/
/**feature section: css start **/
.feature-sec {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  margin: 60px 0;
}

.feature {
  padding: 25px 15px;
}

.feature img {
  width: 122px;
  height: 60px;
}

.feature-title {
  font-size: 23px;
  color: rgb(36, 34, 45);
  margin-top: 1rem;
  margin-bottom: 0.8rem;

}

.feature-descrp {
  width: 203px;
  font-size: 16px;
  color: rgba(36, 34, 45, 0.75);
  line-height: 25px;
  letter-spacing: 0.4px;
}

/**feature section: css end**/
/**categories sec: css start*/
.category-sec {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
 
}

.card-content {
  width: 355px;
  border-radius: 12px;
  margin: 0 14px;
}
.card-content:hover .card-heading  {
 text-decoration: underline;
}

.card-content .card-image {
  display: block;
  width: 100%;
  height: 295px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-heading {
  text-align: center;
  background-color: rgb(253, 251, 247);
  color: rgb(36, 34, 45);
  font-size: 23px;
  padding: 20px 27px;
  letter-spacing: 1px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
}

.arrow-img {
  width: 19px;
  height: 16px;
  margin-left: 15px;
}


@media(min-width: 992px) and (max-width: 1024px){
  .feature {
    padding: 25px 4px;
	}
   .hero-text {
    padding: 1.8rem 1.2rem 1.8rem 3rem;
    height: 362px;
    width: 322px;
    background: radial-gradient(rgba(255, 229, 229, 1), rgba(255, 224, 218, 1) 30%, rgba(215, 255, 137, 1) 100%);
    top: 2.5rem;
    left: 1.9rem;
	}
	.hero-text h1 {
    font-size: 40px;
	}
	.hero-text p {
    font-size: 16px;
    width: 224px;
    padding-bottom: 5px;
    margin: 17px 0;
    }
	.hero-image img {
    width: 485px;
    height: 430px;
	    left: 21rem;
	}
	.shop-btn {
    padding: 10px 25px;
	}
}

/**categories sec: css end*/
/**media query for tabs**/
@media (min-width: 768px) and (max-width: 990px) {
  .hero-text {
    top: 27rem;
    left: 4.2rem;
    height: auto;
    width: 77%;
    padding: 2rem;
  }

  .hero-text h1 {
    font-size: 2.8rem;
  }

  .hero-text p {
    line-height: 26px;
    width: 100%;
  }

  .hero-image img {
    width: 100%;
    height: auto;
    left: 0;
  }

  /**feature :css **/
  .feature-sec {
    margin: 11.2rem 0 4rem 0;
  }

  .feature {
    padding: 20px 15px;
    flex: 50%;
  }

  .feature-descrp {
    width: 100%;
  }

  .feature-title {
    margin-top: 0.2rem;
  }
 .category-sec{
  flex-wrap: wrap;
 }
  .card-content {
    width: 315px;
    flex: 40%;
    padding: 10px;
    margin: 0px 7px 20px 7px;
  }
}

/**media query for mobile**/
@media(min-width: 320px) and (max-width: 767px) {
  .container {
    padding: 12px;
  }

  .hero-container {
    padding: 1.2rem;
  }

  .hero-text {
    padding: 1.5rem 1.5rem 3rem 1.5rem;
    height: auto;
    width: 77%;
    top: 14rem;
    left: 2.2rem;
  }

  .hero-text h1 {
    font-size: 24px;
    letter-spacing: 2.2px;
  }

  .hero-text p {
    font-size: 15px;
    line-height: 24px;
    padding-bottom: 10px;
    margin: 17px 0;
  }

  .hero-image img {
    width: 100%;
    height: auto;
    left: 0;
  }

  .shop-btn {
    padding: 12px 1rem;
    font-size: 14px;
  }

  /*hero-sec-css-end*/
  .feature-sec {
    margin: 13rem 0 2rem 0;
  }

  .feature {
    padding: 15px 15px;
    flex: 100%;
  }

  .feature img {
    width: 110px;
    height: auto;
  }

  .feature-title {
    font-size: 22px;
    margin-top: 0rem;
    margin-bottom: 0.8rem;

  }

  .feature-descrp {
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
  }
  .category-sec {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    flex-wrap: wrap;
    align-items: center;
}
.card-content {
    width: 315px;
    border-radius: 12px;
    flex: 100%;
    margin-bottom: 2rem;
}
}