@font-face {
    font-family: "Harmonia-Sans-Regular";
    src: url("../resources/fonts/Harmonia-Sans-Regular.otf"),
    url("../resources/fonts/Harmonia-Sans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }