*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}
ul li{
  list-style: none;
}

  body {
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(
      180deg,
      rgba(240, 244, 236, 1),
      rgba(241, 235, 226, 1) 100%
    );
    background-repeat: no-repeat;
    background-size: auto;
    color: rgba(36, 34, 45, 0.75);
    font-family: "Harmonia-Sans-Regular" ;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}
@media(min-width: 768px){
  .container {
      max-width: 700px;
      margin: 0 auto;
  }
}
@media(min-width: 1024px){
  .container {
      max-width: 1020px;
      margin: 0 auto;
  }
}